# Virtual environment
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter/VS Code
.ipynb_checkpoints/
.vscode/

# Environment
.env

# Local data
data/*.csv
data/chroma/

# Logs
*.log


echo "cx_agent/lib/" >> .gitignore
